
<%= form_for @customer do |c| %>

<table class="table table-user-information">
  <tbody>
    <tr>
      <td><%= c.label :title, 'Title:' %></td>
      <td><%= c.text_field :title %></td>
    </tr>
    <tr>
      <td><%= c.label :email, 'Email:' %></td>
      <td><%= c.text_field :email %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>
        <select name="category_id">
          <%= @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.title %></option>
          <% end %>
        </select>
      </td>
    </tr>
   </tbody>
 </table>
      <%= c.submit "Submit", class: "btn btn-primary" %>
 </div>
 <% end %>

