<div class="col-md-12">
  <h4>Categories</h4>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th  class="col-md-2">ID</th>
          <th  class="col-md-6">Title</th>
          <th  class="col-md-2">Options</th>
        </tr>
       </thead>
       <tbody id="myTable">
        <% @categories.each do |categorie| %>
          <tr>
            <td><%= categorie.id %></td>
            <td><%= categorie.title %></td>
            <td>
              <%= link_to edit_category_path(categorie) do%>
                <i class="fa fa-pencil" style="font-size: 18px"></i>
              <% end %> 
              <%= link_to  categorie, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-times" style="font-size: 18px"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
       </tbody>
    </table>   
  </div>
  <div class="col-md-12 text-right">
   <div class="digg_pagination">
    <%= will_paginate @categories %>
   </div>
  </div>
  <%= form_for @categorie do |c| %>
    <p>
      <%= c.label :title, 'Category:' %>
      <%= c.text_field :title  %>
      <%= c.submit %>
    </p>
  <% end %>
</div>


